Function Arguments

Positional Arguments:

Positional arguments are the most basic type of arguments. They are matched to function parameters based on their order of appearance.

In [2]:
def greet(name, age):
    return(f"Hello, {name}! You are {age} years old.")

In [6]:
# Calling the function with positional arguments
greet("unnisa", 20)  # Output: Hello, Alice! You are 25 years old.

'Hello, unnisa! You are 20 years old.'

In [8]:
greet(24, 34)

'Hello, 24! You are 34 years old.'

In [10]:
greet(25, "aimnxt")

'Hello, 25! You are aimnxt years old.'

Keyword Arguments:

Keyword arguments are specified with the parameter name followed by the value, separated by an equal sign. These arguments allow you to pass the values to the function in any order.

In [12]:
def greet(name, age):
    return(f"Hello, {name}! You are {age} years old.")

In [14]:
# Calling the function with keyword arguments in a different order
greet(age=25, name="chakresh")  # Output: Hello, Bob! You are 25 years old.

'Hello, chakresh! You are 25 years old.'

In [ ]:
return
I am name, and  learning course in Aimnxt

In [16]:
def test(name, course):
    return (f"i am {name}, and learning {course} in Aimnxt")

In [18]:
test(name = "unnisa", course = "Data Science")

'i am unnisa, and learning Data Science in Aimnxt'

In [20]:
test(course = "AI ML", name = "Ateeq")

'i am Ateeq, and learning AI ML in Aimnxt'

Default Values:

You can provide default values for function parameters. If a value is not passed for that parameter when the function is called, the default value will be used.

In [27]:
def greet(name, age=20):
    return(f"Hello, {name}! You are {age} years old.")

In [29]:
# Calling the function without specifying 'age' argument
greet("Keziya")  # Output: Hello, Alice! You are 30 years old.

'Hello, Keziya! You are 20 years old.'

In [31]:
# Calling the function with 'age' argument
greet("Padma", 30)  # Output: Hello, Bob! You are 25 years old.

'Hello, Padma! You are 30 years old.'

In [ ]:
Questions to practice :
Question 1: Positional Arguments
Write a function called add that takes two positional arguments a and b, and returns their sum.
Expected Output:
result = add(5, 10)
print(result)  # Output: 15
​
Question 2: Keyword Arguments
Write a function called greet that takes two keyword arguments name and age, and prints a greeting message with the provided values.
Expected Output:
greet(name="Alice", age=25)  # Output: Hello, Alice! You are 25 years old.

​
Question 3: Default Values
Write a function called multiply that takes two arguments a and b, with b having a default value of 2. The function should return the product of a and b.
Expected Output:
result = multiply(5)
print(result)  # Output: 10

​
Question 4: Mixing Positional and Keyword Arguments
Write a function called print_info that takes three positional arguments name, age, and country, and prints the information in a formatted message.
Expected Output:
print_info("Alice", 25, "USA")  # Output: Name: Alice, Age: 25, Country: USA

Built-in Functions

`max()` and `min()` - Returns the maximum and minimum values from a sequence.

In [ ]:
numbers = [10, 5, 8, 15, 3]
max_value = max(numbers)
min_value = min(numbers)
print(max_value)  # Output: 15
print(min_value)  # Output: 3

In [ ]:
sum() - Returns the sum of elements in a sequence.

In [ ]:
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
print(total_sum)  # Output: 15

In [ ]:
range() - Generates a sequence of numbers within a specified range.

In [ ]:
# Generate numbers from 0 to 4
my_range = range(5)
print(list(my_range))  # Output: [0, 1, 2, 3, 4]

In [ ]:
`sorted()` - Returns a new sorted list from the elements in an iterable.

In [ ]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
sorted_numbers = sorted(numbers)
print(sorted_numbers)  # Output: [1, 1, 2, 3, 4, 5, 6, 9]

In [ ]:
These are just a few examples of the built-in functions available in Python. There are many more built-in functions that can be utilized for various purposes, and you can find more details in the Python documentation.

In [ ]:
Questions to practice (Day - 26):
Question 1: Using max() and min()
Write a Python program that takes a list of numbers as input and prints the maximum and minimum values from that list.
Expected Output:
numbers = [10, 5, 8, 15, 3]

print(max_value)  # Output: 15
print(min_value)  # Output: 3

​
Question 2: Using sum()
Write a Python program that takes a list of numbers as input and prints the sum of all the elements in that list.
Expected Output:
numbers = [1, 2, 3, 4, 5]

print(total_sum)  # Output: 15

​
Question 3: Using range()
Write a Python program that generates a list of even numbers from 2 to 10 using the range() function.
Expected Output:
# Generate numbers from 2 to 10 with a step of 2

print(list(my_range))  # Output: [2, 4, 6, 8, 10]

​
Question 4: Using sorted()
Write a Python program that takes a list of numbers as input, sorts the list in ascending order using the sorted() function, and prints the sorted list.
Expected Output:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]

print(sorted_numbers)  # Output: [1, 1, 2, 3, 4, 5, 6, 9]

​
Question 5: Using len()
Write a Python program that takes a string as input and prints the length of the string using the len() function.
Expected Output:
text = "Hello, World!"
print(length)  # Output: 13

​
Question 6: Using abs()
Write a Python program that takes a number as input and prints its absolute value using the abs() function.
Expected Output:
number = -10

print(abs_value)  # Output: 10

​
Question 7: Using all() and any()
Write a Python program that takes a list of boolean values as input and checks if all values are True using the all() function. Then, check if at least one value is True using the any() function.
Expected Output:
bool_list = [True, True, False, True]


print(all_true)  # Output: False
print(any_true)  # Output: True

File Operations

### File Operations:

Files are named locations on our storage device for recording data.

Python provides numerous builtin functions to work with these files.

There are **three steps** we need to follow to work with files:

 * Open a file
 * Perform Operation (Read or Write)
 * Close the file

Opening a file

In Python, we use the builtin `open()` function to open files.

Suppose we have a file called message.txt with the following content:

I love programming.

I love Programiz.

In [38]:
## We can open it using:
f = open('message.txt')

'''The open() function is opening the file which returns a file object that can be used to perform file operations.

By default, the file will be opened in the read mode. We could also have used:'''

'The open() function is opening the file which returns a file object that can be used to perform file operations.\n\nBy default, the file will be opened in the read mode. We could also have used:'

In [40]:
f

In [42]:
# read mode
f = open('message.txt', 'r')

In [44]:
# write mode
f = open('message.txt', 'w')

In [46]:
f

# Mode	Description
r (Read Mode)	- Opens a file for reading (default)

w (Write Mode) - Opens a file for writing, Creates a new file if it does not exist, Clears the content of the file if it exists

a (Append Mode) -	Opens a file for appending at the end of the file, Creates a new file if it does not exist

Reading files in Python

After opening a file, we can read its contents using the read() method of the file object.

In [53]:
f = open('msg1.txt', 'r')
print(f.read())

# print(content)

I love learning python
I want to become a great datascientist.

In [55]:
f = open('msg1.txt', 'r')
content = f.read()

print(content)

I love learning python
I want to become a great datascientist.

Note: We should always close the file using close() method after working with files. It is a good programming practice.

It is also possible to read only a certain number of characters from a file using the `read()` method. For this, we pass an optional size argument.

Let's read only the first 6 characters:

In [59]:
f = open('msg1.txt', 'r')
content = f.read(6)
print(content)

I love

In [61]:
f = open('msg1.txt', 'r')
content = f.read(12)
print(content)

I love learn

In [63]:
f.close()

Now if we read the same file again, it starts reading from the 7th character because we have already read upto the 6th character.

In [65]:
f = open('msg1.txt', 'r')
content = f.read(6)
print(content)

I love

In [67]:
more_content = f.read(12)
print(more_content)
f.close()

 learning py

In [99]:
try:
    f = open('msg1.txt', 'r')
    content = f.read(6)
    print(content)
    more_content = f.read(12)
    print(more_content)
finally:
    f.close()

Now, even if our program encounters an error, our file will be closed. It is because the `finally` block always gets executed.

There is even a better way to write this same code in Python using the `with...open` syntax.

In [69]:
with open('msg1.txt', 'r') as f:
    content = f.read(6)
    print(content)

    more_content = f.read(12)
    print(more_content)

I love
 learning py

>**Note**: It is highly recommended to use this syntax while working with files because we don't need to explicitly call the `close()` method
> and our code becomes much cleaner than before.

## Writing to files in Python

To write content to a file, we must first open it in write mode. Then, we can start writing content to it using the `write()` method.

There are two things you need to remember while writing to a file:

- If you try to open a file that doesn't exist, a new file is automatically created.
- If a file already exists, its contents are removed, and our new content is added to it.

In [72]:
with open('python.txt', 'w') as f:
    f.write("Python is awesome")
    f.write("I love Python")

A `python.txt` file is created in the same directory with the following content:

Python is awesome

I love Python

To add a new line, we can use `\n`:

In [74]:
with open('python.txt', 'w') as f:
    f.write("we are learning python\n")
    f.write("Python is awesome\n")
    f.write("I love Python")


Notice that while running this program for the second time, the `python.txt` file was already created.
Since opening an existing file in write mode will overwrite the file, all the previous data was erased and new content was written again.

>**Note**: Be careful while using the write mode because you may accidentally erase the old data without realizing it.

---

## Appending to Files in Python

We use this mode if we want to add additional data to the end of the file without erasing our previous data.

Let's add an additional line to the previous `python.txt` file.

In [77]:
with open('python.txt', 'a') as f:
    f.write("\nPython is my first programming language.")
    f.write("\n Happy Pongal")

Contents of `python.txt`:

Python is awesome

I love Python

Python is my first programming language.

## Python `readlines()` and `writelines()`

The `readlines()` method returns a list containing each line of the file.

Let's open the same python.txt file we have been working on in read mode and use `readlines()`:

In [112]:
with open('python.txt', 'r') as f:
    lines = f.readlines()
print(lines)

['we are learning python\n', 'Python is awesome\n', 'I love Python\n', 'Python is my first programming language.\n', ' Happy Pongal']

Similarly, there is also a `writelines()` method to write multiple items into a file. It writes the items of a list to the file.

In [114]:
with open('javascript.txt', 'w') as f:
    lines = ['JS is also awesome', '\nJS is my second programming language', '\nJS is very simple to use.']
    writing_lines=f.writelines(lines)

### Abstraction in OOPS

Abstract Class: A class that cannot be instantiated directly.

Abstract Method: A method that is declared but not implemented in the base class — must be overridden in the child class.

Python provides ABC (Abstract Base Class) and @abstractmethod from the abc module to support abstraction.

In [17]:
from abc import ABC, abstractmethod

class MyAbstractClass(ABC):
    @abstractmethod
    def do_something(self):
        pass  # No implementation here

In [6]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def make_sound(self):
        pass
class Dog(Animal):
    def make_sound(self):
        return "Woof!"

class Cat(Animal):
    def make_sound(self):
        return "Meow!"

In [8]:
dog = Dog()

In [10]:
dog.make_sound()

'Woof!'

In [21]:
dog = Dog()
print(dog.make_sound())  

cat = Cat()
print(cat.make_sound())

Woof!
Meow!

In [ ]:
a = Animal()

In [20]:
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Square(Shape):
    def __init__(self, side):
        self.side = side

    def area(self):
        return self.side ** 2

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

In [22]:
s = Square(4)

In [24]:
s.area()

16

In [28]:
c = Circle(6)

In [30]:
c.area()

113.04

In [25]:
s = Square(4)
print("Square area:", s.area())  

c = Circle(3)
print("Circle area:", c.area())

Square area: 16
Circle area: 28.26

In [14]:
class BankAccount(ABC):
    @abstractmethod
    def account_type(self):
        pass
class savingsaccount(BankAccount):
    def account_type(self):
        return "this is savings account"
class currentaccount(BankAccount):
    def account_type(self):
        return "this is current account"

In [16]:
account1 = savingsaccount()

In [18]:
account1.account_type()

'this is savings account'

In [12]:
class BankAccount(ABC):
    @abstractmethod
    def account_type(self):
        pass

# Child class 1
class SavingsAccount(BankAccount):
    def account_type(self):
        print("This is a Savings Account")

# Child class 2
class CurrentAccount(BankAccount):
    def account_type(self):
        print("This is a Current Account")

In [ ]:
s = SavingsAccount()
s.account_type()  

c = CurrentAccount()
c.account_type()

## Custom Exception:

raise

You use raise to manually trigger an exception when you want to enforce rules or handle specific situations in your own way

In [33]:
class Error(Exception):
    pass

class dobException(Error):
    pass

class customgeneric(Error):
    pass

In [49]:
year=int(input("Enter the year of Birth "))
age=2025-year

print(age)

try:
    if age<=30 and age>20:
        print("The age is valid. You can apply for the exams")
    else:
        raise dobException
except dobException:
    print("The age is not within the range. You cannot apply for the exams")

Enter the year of Birth  2010

15
The age is not within the range. You cannot apply for the exams

In [57]:
def divide(a, b):
    if b == 0:
        raise ValueError("Cannot divide by zero.")
    return a / b
try:
    result = divide(10, 0)
    print("Result:", result)
except ValueError as e:
    print("Caught an exception:", e)

Caught an exception: Cannot divide by zero.

In [3]:
try:
    x = int("abc")
except ValueError as e:
    print("Caught an error:", e)
    raise  # re-raises the same error

Caught an error: invalid literal for int() with base 10: 'abc'

ValueError: invalid literal for int() with base 10: 'abc'

In [61]:
class MyCustomError(Exception):
    pass

def process(data):
    if not data:
        raise MyCustomError("Data should not be empty")

In [71]:
process("harsha")