### For Loop

In Python, a `for` loop is used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code for each item in the sequence. 

The loop continues until all items in the sequence have been processed.

In [2]:
l = [1,2,3,4,"padma" ,"aimnxt" , 45.56]

In [4]:
for i in l :
    print(i)

1
2
3
4
padma
aimnxt
45.56

In [6]:
for i in l :
    pass

In [8]:
s = "aimnxt"

for i in s :
    print(i)

a
i
m
n
x
t

In [10]:
l

[1, 2, 3, 4, 'padma', 'aimnxt', 45.56]

In [12]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete, then it will execute else ")

1
2
3
4
padma
aimnxt
45.56
if for loop is going to complete, then it will execute else

In [13]:
l

[1, 2, 3, 4, 'padma', 'aimnxt', 45.56]

In [11]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [13]:
s = "aimnxt"

for i in s :
    if i == 't' :
        break
    print(i)
else :
    print("Given srtring is" , s )

a
i
m
n
x

In [14]:
s = "khadarunnisa"
for i in s:
    print(i)

k
h
a
d
a
r
u
n
n
i
s
a

In [15]:
s= "datascience"
for i in s:
    print(i)

d
a
t
a
s
c
i
e
n
c
e

In [17]:
for i in s:
    if i == "e":
        break
    print(i)

d
a
t
a
s
c
i

In [18]:
s = "varshith"
for i in s:
    if i == 'h':
        break
    print(i)
else:
    print("given string is", s)

v
a
r
s

In [20]:
l = [0,0,0,0,0,0,0,1324,0,0,0,0,0]

for i in l:
    if i > 0 :
        print("We have an active alarm Number:",i)         
else:
    print ("No alarm")

We have an active alarm Number: 1324
No alarm

In [25]:
for i in l:
    if i == 1324:
        break
    print(i)
else:
    print("no alarm")

0
0
0
0
0
0
0

In [27]:
t = (4,5,6,7,8,6,"aimnxt")

for i in t :
    print(i)

4
5
6
7
8
6
aimnxt

In [22]:
t = (1,2,3,4,5,6)
for i in t:
    print(i)

1
2
3
4
5
6

In [24]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"aimnxt"}

In [26]:
type(b)

set

In [28]:
b

{4, 5, 6, 7, 8, 'aimnxt'}

In [38]:
for i in b :
    print(i)

4
5
6
7
8
aimnxt

In [30]:
for i in b:
    if i==7:
        break
    print(i)

4
5
6

In [39]:
b

{4, 5, 6, 7, 8, 'aimnxt'}

In [37]:
for i in b:
    if i ==10:
        break
    print(i)

4
5
6
7
8
aimnxt

In [32]:
d = {'key1' :"aimnxt" , 'contact' : "abc@aimnxt.in" , "position" : "xyz"}

In [36]:
d.keys()

dict_keys(['key1', 'contact', 'position'])

In [38]:
d.values()

dict_values(['aimnxt', 'abc@aimnxt.in', 'xyz'])

In [40]:
d.items()

dict_items([('key1', 'aimnxt'), ('contact', 'abc@aimnxt.in'), ('position', 'xyz')])

In [34]:
for i in d:
    print(i)

key1
contact
position

In [42]:
for i in d:
    print(d[i])

aimnxt
abc@aimnxt.in
xyz

In [44]:
for i in d :
    print(i ,":" , d[i])

key1 : aimnxt
contact : abc@aimnxt.in
position : xyz

In [53]:
# extract only keys from the given dictionary "d"

d.keys()

dict_keys(['key1', 'contact', 'position'])

In [55]:
d.values()

dict_values(['aimnxt', 'abc@aimnxt.in', 'xyz'])

In [57]:
d.items()

dict_items([('key1', 'aimnxt'), ('contact', 'abc@aimnxt.in'), ('position', 'xyz')])

### Range function

In [46]:
range(9)

range(0, 9)

In [48]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
range(15)

range(0, 15)

In [52]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [63]:
range(10)

range(0, 10)

In [67]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [58]:
for i in range(15):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [60]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [62]:
list(range(0,9, 2))

[0, 2, 4, 6, 8]

In [77]:
list(range(0,9, -1))

[]

In [79]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
l=[1,2,3,4,5,"aimnxt",234.45]

l1=[]

for i in l:
    if type(i) == int:
          l1 = l1 + [i]
print(l1)

[1, 2, 3, 4, 5]

In [66]:
l1 = []

for i in l:
    if type(i) == str:
        l1.append(i)
print(l1)

['aimnxt']

In [83]:
l1= []

for i in l:
    if type(i)==float:
        l1 = l1+[i]
print(l1)

[234.45]

In [85]:
l=[1,2,3,4,5,"aimnxt",23.55]
l1 = []
for i in l:
    if type(i)==int or type(i)==str:
        l1.append(i)

In [87]:
l1

[1, 2, 3, 4, 5, 'aimnxt']

In [91]:
l = [1,2,"aimnxt", "datascience", 13.5, 12.7, True, False]

In [93]:
l1 = []
for i in l:
    if type(i)==int or type(i)==str:
        l1.append(i)

In [95]:
l1

[1, 2, 'aimnxt', 'datascience']

In [97]:
l1 = []
for i in l:
    if type(i)==bool:
        l1.append(i)

In [99]:
l1

[True, False]

In [101]:
l

[1, 2, 'aimnxt', 'datascience', 13.5, 12.7, True, False]

In [103]:
for i in l:
    print(i)

1
2
aimnxt
datascience
13.5
12.7
True
False

In [105]:
for i in l:
    if i=="datascience":
        break
    print(i)

1
2
aimnxt

In [122]:
n = 4 
for i in range(4) :     ## outer loop
    for j in range(0 ,i+1) :  ### Inner loop
        print("aimnxt" , end = "     ")
    print("\n")

# Explanation:
# How the inner loop behaves per row:

# When i = 0, range(0, 0 + 1) → Inner loop runs 1 time.
# When i = 1, range(0, 1 + 1) → Inner loop runs 2 times.
# When i = 2, range(0, 2 + 1) → Inner loop runs 3 times.
# When i = 3, range(0, 3 + 1) → Inner loop runs 4 times.

aimnxt

aimnxt     aimnxt

aimnxt     aimnxt     aimnxt

aimnxt     aimnxt     aimnxt     aimnxt

In [41]:
n = 3
for i in range(n):
    # Print spaces for alignment
    print(" " * (n - i - 1) * len("aimnxt"), end="")
    
    # Print 'sudh' for the pyramid
    print("sudh " * (2 * i + 1))

# Explanation:
# print(" " * (n - i - 1) * len("sudh"), end="")

# This prints the required spaces to align "sudh" in the pyramid shape.
# (n - i - 1) determines the number of spaces before the first "sudh" in the current row.
# len("sudh") ensures that the spacing matches the width of the word "sudh".
# print("sudh " * (2 * i + 1))

# This prints the word "sudh" repeated (2 * i + 1) times for each row.
# The count (2 * i + 1) generates the pyramid structure:
# Row 1: 1 "sudh"
# Row 2: 3 "sudh"
# Row 3: 5 "sudh"

        sudh
    sudh sudh sudh
sudh sudh sudh sudh sudh

In [41]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i): 
        print("sudh",end=" ")
    print()

#    Explanation:
# n = 3

# n represents the number of rows the pattern will have (in this case, 3).
# Outer Loop: for i in range(n):

# The outer loop iterates over the rows of the pattern.
# i represents the current row index, starting from 0 to n - 1 (range(3) gives [0, 1, 2]).
# Inner Loops:
# 1. First Inner Loop: for j in range(i, n - 1):
# This loop prints spaces to align the pattern.
# range(i, n - 1) ensures that spaces decrease as i (the row index) increases.
# " " * len("sudh") calculates the width of one "sudh" and creates a string of spaces with that length to maintain proper alignment.
# For i = 0, it prints spaces for columns 0, 1.
# For i = 1, it prints spaces for column 1.
# For i = 2, it doesn't print any spaces.
# 2. Second Inner Loop: for j in range(i + 1):
# This loop prints the first part of "sudh" in the current row.
# range(i + 1) means that as i increases, more instances of "sudh" are printed.
# For i = 0, it prints "sudh" once.
# For i = 1, it prints "sudh" twice.
# For i = 2, it prints "sudh" three times.
# 3. Third Inner Loop: for j in range(i):
# This loop prints the second part of "sudh" in the current row to complete the pyramid structure.
# range(i) means that for rows beyond the first, this loop adds additional "sudh" instances.
# For i = 0, it doesn't print anything (no iterations).
# For i = 1, it prints "sudh" once.
# For i = 2, it prints "sudh" twice.
# 4. print()
# After finishing all inner loops for the current row, print() moves to the next line to start a new row.


     
# Row-by-Row Output:
# Row 1 (i = 0):

# Spaces: " " * len("sudh") → 2 spaces (j = 0, 1).
# "sudh": Printed once (j = 0).
# Result: " sudh"
# Row 2 (i = 1):

# Spaces: " " * len("sudh") → 1 space (j = 1).
# "sudh": Printed twice (j = 0, 1 in second loop).
# "sudh": Printed once (j = 0 in third loop).
# Result: " sudh sudh sudh"
# Row 3 (i = 2):

# Spaces: None (no iterations of the first loop).
# "sudh": Printed three times (j = 0, 1, 2 in second loop).
# "sudh": Printed twice (j = 0, 1 in third loop).
# Result: "sudh sudh sudh sudh sudh"

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [42]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('aimnxt ', end= '')
    print()

      sudh
    sudh sudh
  sudh sudh sudh
sudh sudh sudh sudh

In [46]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + 'aimnxt '*i)

  sudh
 sudh sudh
sudh sudh sudh

In [49]:
list(range(0))

[]

In [50]:
t = (3,23,45,67,2,4,5,6)

In [55]:
t[0]

3

In [57]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [54]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [130]:
s = "aimnxt"
for i in range(len(s)) : 
    print(i , s[i])

0 a
1 i
2 m
3 n
4 x
5 t

In [132]:
s

'aimnxt'

In [134]:
for i in range(len(s)-1, -1, -1):
    print(i , s[i])

5 t
4 x
3 n
2 m
1 i
0 a

explanation:

len(s) - 1:

len(s) gives the total number of elements in the sequence s.
len(s) - 1 is the index of the last element in s because indexing in Python starts at 0.
range(len(s)-1, -1, -1):

The range function generates a sequence of numbers:
Starts from len(s)-1 (the last index of s).
Ends at -1 (not inclusive), which ensures the loop stops when it reaches 0 (the first index).
Steps by -1, meaning the iteration moves backwards (reverse order).
for i in range(...):

i takes on each index of s, starting from the last index and ending at the first.
print(i, s[i]):

Prints the current index i and the corresponding element s[i].

In [70]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [74]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [140]:
l = ["aimnxt" , "datascience" , 3234545 , "datascience@aimnxt.ai" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == str :
        l1.append(i)

In [142]:
l1

['aimnxt', 'datascience', 'datascience@aimnxt.ai']

In [77]:
 d = {1: 3345345  , "name" : "aimnxt" , "email_id" : "datascience@aimnxt.ai" , 234 : "abcdef" , "43" : "sfsaf" , 234 : "3454"}

In [79]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [145]:
s = "aaaabbccd"

In [147]:
for i in set(s):
    print(i  , ":" , s.count(i))

b : 2
d : 1
a : 4
c : 2

In [82]:
s.count('a')

4

In [89]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [85]:
str(i)

'34534654646435'

In [98]:
t = ("aimnxt" , "datascience" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"aimnxt"})

In [127]:
t=("aimnxt","datascience",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"sudh","key2":"kumar"})

In [128]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [134]:
d = {4:5 , "key1" : "sudh" , "key2" : "kumar"}

In [135]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [137]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [105]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [107]:
a = 10 
b = 20
c = 30

In [108]:
a , b , c = 10 , 20 , 30

In [109]:
a,b,c = (10,20,30)

In [113]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [80]:
l = list(range(6,-1,-1))
s = 'aimnxt'
t = (l,s)

t

([6, 5, 4, 3, 2, 1, 0], 'aimnxt')

In [84]:
d

{'key1': 'aimnxt', 'contact': 'abc@aimnxt.in', 'position': 'xyz'}

In [86]:
d.items()

dict_items([('key1', 'aimnxt'), ('contact', 'abc@aimnxt.in'), ('position', 'xyz')])

In [88]:
i = j = [3]
i = [3] + [3]
print(i,j)

[3, 3] [3]

In [1]:
s = "aimnntdatascience"

for i in range(len(s)):
    print(i, s[i])

0 a
1 i
2 m
3 n
4 n
5 t
6 d
7 a
8 t
9 a
10 s
11 c
12 i
13 e
14 n
15 c
16 e

In [3]:
for i in range(len(s)-1, -1,-1):
    print(i, s[i])

16 e
15 c
14 n
13 e
12 i
11 c
10 s
9 a
8 t
7 a
6 d
5 t
4 n
3 n
2 m
1 i
0 a

In [9]:
for i in set(s):
    print(i, ":" , s.count(i))

a : 3
c : 2
e : 2
m : 1
s : 1
i : 2
t : 2
n : 3
d : 1

In [11]:
set = {"python", "coding", "tips", "for", "beginners"}

print(set)

' '.join(set)

{'for', 'tips', 'beginners', 'coding', 'python'}

'for tips beginners coding python'

In [13]:
tuple = ("python", "coding", "tips", "for", "beginners")

print(tuple)

' '.join(tuple)

('python', 'coding', 'tips', 'for', 'beginners')

'python coding tips for beginners'

In [15]:
print(dict(("py", "th", "on")))

{'p': 'y', 't': 'h', 'o': 'n'}

In [17]:
print(dict(("a1", "b2", "c3")))

{'a': '1', 'b': '2', 'c': '3'}

In [160]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [19]:
s = {1,1,1,11,1,1,4,4,4,4}

In [21]:
s

{1, 4, 11}

In [23]:
f = frozenset((1,2,2,3,34,4,4,4,4))

In [25]:
f

frozenset({1, 2, 3, 4, 34})

In [27]:
s.add(3)

In [29]:
s

{1, 3, 4, 11}

In [32]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [35]:
for i in l :
    if type(i) == list or type( i )== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [34]:
l1

[3, 4, 5, 6, 2, 4, 5, 5, 6, 'k1', 'v1', 'k2', 'v2']

In [33]:
#3. Write a Python program to display calendar?

import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,13):
        print(calendar.month(yy,m))

Type 1 for monthly calendar or Type 2 for yearly calendar 2
Enter the Year:  2024

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

     March 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

      May 2024
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

     June 2024
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

     July 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

    October 2024
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

   November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

   December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

Assignment:

1. Filter Floats from a List
Write a program that extracts all the floating-point numbers from a list containing mixed data types. The program should create a new list containing only the floats.

Example Input:
l = [12.5, 45, "hello", 23.0, 56.78, 90, "world"]

Expected Output:

[12.5, 23.0, 56.78]

2. Filter Strings from a List
Write a program to extract all the string elements from a mixed list and store them in a new list.

Example Input:

l = [1, "Python", 3.14, "Coding", 42, "AI"]
Expected Output:

["Python", "Coding", "AI"]
    
3. Filter Non-Integers from a List
Write a program to create a new list that contains all elements from a given list except for integers.

Example Input:
l = [1, 2, 3, "data", 4.5, True, None]
Expected Output:

["data", 4.5, True, None]

4. Filter Boolean Values from a List
Write a program to extract all the boolean values (True or False) from a mixed list.

Example Input:
l = [True, 42, "yes", False, 3.14, "AI"]

Expected Output:

[True, False]

5. Filter Even Integers from a List
Write a program that filters only the even integers from a mixed list and stores them in a new list.

Example Input:
l = [1, 2, 3, 4, 5, 6, "even", 7.8]
    
Expected Output:
[2, 4, 6]
    
6. Filter Odd Integers from a List
Write a program that extracts only the odd integers from a mixed list into a new list.

Example Input:
l = [10, 21, 32, 43, "odd", 54, 65]

Expected Output:
[21, 43, 65]

7. Filter Elements of a Specific Length
Write a program to filter all string elements with a length greater than 4 characters from a mixed list.

Example Input:
l = ["apple", "AI", 123, "data", "hello", 3.14]
    
Expected Output:

["apple", "hello"]
    
8. Filter None Values
Write a program to remove all None values from a mixed list and store the remaining elements in a new list.

Example Input:
l = [1, None, "Python", None, 45.6, "data"]

Expected Output:
[1, "Python", 45.6, "data"]

9. Filter Alphabetic Strings Only
Write a program that extracts only alphabetic strings (strings without numbers or special characters) from a mixed list.

Example Input:
l = ["AI", "Data123", "hello!", "world", 42, "Python3"]

Expected Output:
["AI", "world"]

10. Filter Elements of Specific Data Type
Write a program that asks the user to input a data type (e.g., int, float, str) and filters elements of that type from a given mixed list.

Example Input:
l = [1, 2.5, "hello", 3, 4.0, "world"]
    
Data type to filter: float

Expected Output:

[2.5, 4.0]